.box{
	background-color: lightgrey;
	height: 500px;
}
.box-one{
	background-color: green;
	width: 300px;
	height: 300px;
	float: left;
}
.box-two{
	background-color: tomato;
	width: 300px;
	height: 300px;
	float: right;
}